
.path-wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.path {
  margin: 20px;
  display: flex;
  width: fit-content;
  list-style: none;
  background-color: rgb(151, 156, 177);
}

.grogu {
  width: 100%;
  padding: 20px 10px 0 10px;
}

.closet-img {
  height: 100%;
}

.path li{
  height: 120px;
  width: 120px;
  border: 1px solid rgb(87, 91, 105);
  text-align: center;
}

.path li:nth-child(1){
  background-color: rgb(6, 13, 24);
  border: none;
}