.path {
  display: flex;
  width: 400px;
  /* width: fit-content; */
  border: 1px solid red;
  list-style: none;
  justify-content: right;
  
  margin-top: 20px;
}

.path li{
  width: 40px;
  height: 40px;
  border: 1px solid green;
  justify-content: right;
}