
.closet-wrapper {
  width: 150px;
  background-color: rgb(100, 104, 122);
}

.closet-items--wrapper {
  height: 150px;
  padding: 25px;
  width: 100%;
  list-style: none;
  background-image: url('../../images/white-box.png');
  background-size: contain;
  text-align: center;
}

.closet-items {
  font-size: 25px;
}