
.closet-wrapper {
  border: 1px solid blue;
  width: 100px;
}

.closet-items--wrapper {
  list-style: none;
  border: 1px solid chartreuse;
  background-image: url('../../images/white-box.png');
  background-size: contain;
  width: 100%;
  height: 100px;
  /* background-image: url('/Users/lorenamatey/Desktop/Prueba-Seedtag/grogu-game/src/images/white-box.png'); */
}

/* .closet-items--bgIm {
  width: 50px;
} */