.homepage-wrapper {
  height: 100vh;
  padding-top: 150px;
  /* min-width: 400px; */
  display: flex;
  flex-direction: column;
  background-image: url('https://i.blogs.es/4c9232/cartel-mandalorian-the/1366_2000.jpeg');
  background-color: rgb(16, 14, 21);
  background-size: cover;
  background-position: 25% 90px;
}
