.piecesPage-wrapper {
  height: 100vh;
  /* min-width: 400px; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  background-image: url('https://as01.epimg.net/meristation/imagenes/2021/08/30/noticias/1630320867_305165_1630321049_portada_normal.jpg');
  background-color: rgb(16, 14, 21);
  background-size: cover;
}