.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
  padding: 10px;
  /* background-color: rgba(7, 3, 31, 0.959); */
  background-color: rgb(0, 0, 0);
}

.navbar-logo {
  width: 70px;
  border-radius: 50px;
  border-top: 10px solid black;
  border-bottom: 5px solid black;
  object-position: botom;
  /* margin-right: 20%; */
}

.navbar-logo:hover,
.navbar-logo:focus,
.navbar-logo:active {
  -webkit-box-shadow: 1px 2px 15px 2px #FFFFFF; 
  box-shadow: 1px 2px 15px 2px #FFFFFF;
  outline: none;
}

.navbar-list {
  display: flex;
  width: 60%;
  justify-content: space-between;
  list-style: none;
  /* border: 1px solid green; */
}

.navbar-item {
  /* border: 1px solid blue; */
  color: white;
  align-self: center;
}

.navbar-link { 
  text-decoration: none;
  vertical-align: baseline;
  padding: 5px 8px;
  border-radius: 5px;
  color: white;
}

.navbar-link:hover,
.navbar-link:focus,
.navbar-link:active {
  -webkit-box-shadow: 1px 2px 15px 2px #FFFFFF; 
  box-shadow: 1px 2px 15px 2px #FFFFFF;
  outline: none;
}

.navbar-icon {
  vertical-align: bottom;
  margin-right: 8px;
}

.navbar-icon.chess {
  vertical-align: baseline;
}

.navbar-icon.dice {
  margin-bottom: 2px;
}