.info--wrapper {
  width: 500px;
}

.info--wrapper h1 {
  margin-bottom: 20px;
  text-align: center;
}

.info--wrapper p,
.info--wrapper li {
  text-align: justify;
  padding: 10px;
  font-weight: 600;
}