.homepage-info--wrapper {
  width: 500px;
  margin: 5% 0 0 15%;
}

.homepage-info--wrapper h1 {
  margin-bottom: 20px;
  text-align: center;
}

.homepage-info--wrapper p {
  text-align: justify;
  padding: 10px;
  font-weight:600;
}